.linkToPage{
    color: #fff;
    font-weight: 500;
    padding: 0px 15px;
    text-decoration: none;
    &:focus{
        color: black;
    }
    &:hover{
        text-decoration: none;
    }
}
.popover {
    height: 250px;
    overflow: auto;
}