.container {
  display: flex;
  align-items: center;
  height: 100%;
  .leftContainer {
    padding: 0px 50px;
    p {
      line-height: 25px;
      text-align: justify;
    }

    h1 {
      line-height: 54px;
      font-size: 24px;
    }
    .moreInfor {
      margin: 20px 0px;
      text-align: center;
    }
  }
  .rightContainer {
    text-align: center;
  }
}
