.container {
  background-color: #e5e5e5;
  padding-top: 100px;
  height: 100%;
  .formProfile {
    height: 100%;
    max-width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .divider {
      margin: 20px 0 40px 0;
    }
    .personalInfor {
      .infor {
        display: flex;
        margin-bottom: 10px;
        .fieldName {
          width: 100px;
        }
      }

      .inline {
        display: flex;
        label {
          margin-right: 20px;
        }
      }

      .form {
        .save {
        }
      }
    }
  }
  // .avatarChange {
  //   background-color: #fff;
  //   // width: 50%;
  //   // display: flex;
  // }
}
