.container {
  background-color: #e5e5e5;
  padding: 100px 0px;
  .inforProfile {
    height: 100%;
    max-width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .divider {
      margin: 20px 0 40px 0;
    }
    .personalInfor {
      .infor {
        display: flex;
        margin-bottom: 10px;
        .fieldName {
          width: 100px;
        }
      }
    }
    .formProfile {
      margin-top: 50px;
      height: 100%;
      .labelInfor {
        height: 40px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        width: 250px;
      }
      .inputInfor{
        width: 300px;
      }
      .btnUpdate{
        width: 60%;
        display: flex;
        justify-content: end;
      }
    }
  }
}
